* { box-sizing: border-box }
html { font-family: Arial,sans-serif; line-height:1.15; -ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100% }
body { margin: 0; }
a:visited { color: blue; }
ul { list-style-type: none; padding: 0; margin: 0; }
nav { position: fixed; top: 0; left: 0; background-color: #eee; text-align: right; border-right: 1px solid black; padding: 2em; height: 100vh; width: 15em }
nav ul li { margin: 0.4em 0; }
nav input { width: 10em; }
input, button, select { padding: .2em .62em; font-size: 100% }