/* general styles */
*        { box-sizing: border-box }
html     { font-family: Arial,sans-serif; line-height:1.15;
	       -ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100% }
body     { margin: 0; }
a:visited { color: blue; }
input, button, select { padding: .2em .62em; font-size: 100% }
p { margin: 0.5em 0; }

/* generic classes */
.relative { position:relative; }
.clearfix { clear: both; }

/* layout */
ul   { list-style-type: none; padding: 0; margin: 0;}
nav      { position: fixed; top: 0; left: 0; background-color: #eee;
	       text-align: right; border-right: 1px solid black; padding: 2em;
	       height: 100vh; width: 15em }
main      { margin-top: 4em; margin-left: 16em; width: 80%;}
nav ul li { margin: 0.4em 0; }
nav input { width: 10em; }

/* semantic */
.search-pagination li { display: inline-block; float: left; width: 2em; color: blue; padding: 0.2em; cursor: pointer; text-align: center; }
.search-pagination li:hover { background: #eee; }
.search-hit { border-bottom: 1px solid #000; padding: 0.2em; }
.search-hit:hover { background-color: #eee }
.search-hit-title { cursor: pointer; color: navy; }
.search-hit-authority-type { display: inline-block; width: 8em; text-align: right; padding-right: 1em;}
.search-hit-abstract { margin-left: 8em; white-space: pre-wrap; padding-top: 0.2em; }
.search-hit-abstract-text { height: 4.5em; overflow: hidden; }
.search-hit-abstract label { position: absolute; bottom: -1em; text-decoration: underline; color: blue; z-index: 100; cursor: pointer;}
.search-hit-abstract input { display: none; }
.search-hit-abstract label:after { content: "Vis mer..."; }
.search-hit-abstract input:checked + label:after { content: "Vis mindre..."; }
.search-hit-abstract input:checked ~ div { height: 100%; }
.search-hit-abstract-more { margin-bottom: 1em; }
